.movie-container {
  .movie-list-box {
    .movie-year {
    }
    .movie-data-list {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
      box-sizing: border-box;
    }
  }
  .movie {
    box-sizing: border-box;
    display: flex;
  }
  .movie-loading {
    border: 1px solid black;
    border-radius: 5px;
    height: 200px;
  }
}
