.movie-box{
    // height: 100%;
    img{
        height: 210px;
        width: 100%;
    }
    .movie-desc{
        position: relative;
        bottom: 2.52rem;
        background-color: #ffffff8c;
        padding: 0 10px;
    }
}